@import url('https://fonts.googleapis.com/css?family=Open+Sans');


div {
    padding: 0.1em
}

input, select {
    margin: 0 0.5em;
}


 .result-first {
     display: flex
 }

 .graphs {
    display: flex;
    height: 100%
  
}

.graph {
    text-align: center;
    font-weight: 700;
    width: 50%
}

.roof-form {
    display: flex
}

.donut-container {
    color:#4c5b68;
    text-align: center;
    margin-left: 1em;
    width: 10em
}

.donut-container > span {
    margin-bottom: 0.4em;
    display: inherit;
}

.form {
    transition-property: all;
	transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    max-height: 100%;
}

.form .closed {
    max-height: 0px;
}