/* ==========================================================================
   Normalize
   ========================================================================== */
   article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block; }
  
  audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1; }
  
  audio:not([controls]) {
    display: none;
    height: 0; }
  
  [hidden] {
    display: none; }
  
  html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  
  html, button, input, select, textarea {
    font-family: sans-serif; }
  
  body {
    margin: 0; }
  
  a:focus {
    outline: 0; }
  
  a:active, a:hover {
    outline: 0; }
  
  /*
  h1 {
    font-size: 2em;
    margin: .67em 0; }
  
  h2 {
    font-size: 1.5em;
    margin: .83em 0; }
  
  h3 {
    font-size: 1.33em;
    margin: 1em 0; }
  
  h4 {
    font-size: 1em;
    margin: 1.33em 0; }
  
  h5 {
    font-size: .83em;
    margin: 1.67em 0; }
  
  h6 {
    font-size: .67em;
    margin: 2.33em 0; }
  */
  h1 {
    font-size: 40px; }
  
  h3 {
    font-size: 24px; }
  
  abbr[title] {
    border-bottom: 1px dotted; }
  
  b, strong {
    font-weight: bold; }
  
  blockquote {
    margin: 1em 40px; }
  
  dfn {
    font-style: italic; }
  
  hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0; }
  
  mark {
    background: #ff0;
    color: #000; }
  
  p, pre {
    margin: 1em 0; }
  
  code, kbd, pre, samp {
    font-family: monospace,serif;
    _font-family: 'courier new',monospace;
    font-size: 1em; }
  
  pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word; }
  
  q {
    quotes: none; }
  
  q:before, q:after {
    content: '';
    content: none; }
  
  small {
    font-size: 80%; }
  
  sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  
  sup {
    top: -0.5em; }
  
  sub {
    bottom: -0.25em; }
  
  dl, menu, ol, ul {
    margin: 1em 0; }
  
  dd {
    margin: 0 0 0 40px; }
  
  menu, ol, ul {
    padding: 0 0 0 40px; }
  
  nav ul, nav ol {
    list-style: none;
    list-style-image: none; }
  
  img {
    border: 0;
    -ms-interpolation-mode: bicubic; }
  
  svg:not(:root) {
    overflow: hidden; }
  
  figure {
    margin: 0; }
  
  form {
    margin: 0; }
  
  fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em; }
  
  legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px; }
  
  button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle; }
  
  button, input {
    line-height: normal; }
  
  button, select {
    text-transform: none; }
  
  button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible; }
  
  button[disabled], html input[disabled] {
    cursor: default; }
  
  input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px; }
  
  input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }
  
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
  
  button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  
  textarea {
    overflow: auto;
    vertical-align: top; }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }
  
  /* ==========================================================================
     Some more modifications
     ========================================================================== */
  html,
  button,
  input,
  select,
  textarea {
    color: #222; }
  
  html {
    font-size: 1em;
    line-height: 1.4; }
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none; }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none; }
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; }
  
  audio,
  canvas,
  img,
  video {
    vertical-align: middle; }
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0; }
  
  textarea {
    resize: vertical; }
  
  /* ==========================================================================
     Helper classes
     ========================================================================== */
  html {
    box-sizing: border-box; }
  
  *, *:before, *:after {
    box-sizing: inherit; }
  
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    /* For some Androids */ }
  
  .clearfix:before,
  .clearfix:after, .row:before, .row:after {
    content: " ";
    display: table; }
  
  .clearfix:after, .row:after {
    clear: both; }
  
  .clearfix, .row {
    *zoom: 1; }
  
  .pull-right {
    float: right !important; }
  
  .pull-left {
    float: left !important; }
  
  .center-x {
    display: block;
    margin-right: auto;
    margin-left: auto; }
  
  .center-xy {
    margin: 0 auto;
    display: table;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  
  .nomargin {
    margin: 0 !important; }
  
  .visible-phone,
  .visible-desktop {
    display: none !important; }
  
  .hidden-phone,
  .hidden-desktop {
    display: block !important; }
  
  /* Phones */
  @media only screen and (max-width: 979px) {
    .visible-phone {
      display: block !important; }
  
    .visible-desktop,
    .hidden-phone {
      display: none !important; } }
  /* Desktops */
  @media only screen and (min-width: 980px) {
    .visible-desktop {
      display: block !important; }
  
    .visible-phone,
    .hidden-desktop {
      display: none !important; } }
  .auth-none .show-logged {
    display: none !important; }
  
  .auth-logged .show-notlogged {
    display: none !important; }
  
  /* ==========================================================================
     Print styles
     ========================================================================== */
  @media print {
    * {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important; }
  
    a,
    a:visited {
      text-decoration: underline; }
  
    a[href]:after {
      content: " (" attr(href) ")"; }
  
    abbr[title]:after {
      content: " (" attr(title) ")"; }
  
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
      content: ""; }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid; }
  
    thead {
      display: table-header-group; }
  
    tr,
    img {
      page-break-inside: avoid; }
  
    img {
      max-width: 100% !important; }
  
    @page {
      margin: 0.5cm; }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3; }
  
    h2,
    h3 {
      page-break-after: avoid; } }
  /* ==========================================================================
     Fonts
     ========================================================================== */
  /* @font-face {
    font-family: 'EnergiaRegular';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/energiaregular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/energiaregular-webfont.woff") format("woff"), url("../fonts/energiaregular-webfont.ttf") format("truetype"), url("../fonts/energiaregular-webfont.svg#EnergiaRegular") format("svg"); }
  
  @font-face {
    font-family: 'EnergiaBold';
    src: url("../fonts/energiabold-webfont.eot");
    src: url("../fonts/energiabold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/energiabold-webfont.woff2") format("woff2"), url("../fonts/energiabold-webfont.woff") format("woff"), url("../fonts/energiabold-webfont.ttf") format("truetype"), url("../fonts/energiabold-webfont.svg#energia_boldregular") format("svg");
    font-weight: normal;
    font-style: normal; } */
  
  strong, b, .bold {
    font-family: "EnergiaBold", Arial, Helvetica, sans-serif;
    font-weight: normal; }
  
  /* ==========================================================================
     Simple layout
     ========================================================================== */
  body {
    color: #374454;
    font-family: "EnergiaRegular", Arial, Helvetica, sans-serif;
    font-size: 16px; }
  
  h1, h2, h3, h4 {
    color: #4c5b68;
    font-family: "EnergiaBold", Arial, Helvetica, sans-serif;
    line-height: 1.1em;
    margin: 0 0 1em;
    font-weight: normal; }
  
  a {
    color: #34b233;
    text-decoration: none; }
  
  p {
    line-height: 1.4em;
    margin: 0 0 1em 0; }
  
  a:hover {
    text-decoration: underline; }
  
  .content {
    min-height: 700px; }
  
  .content-wrapper {
    width: 100%;
    padding: 70px 0; }
  
  .content-wrapper + .content-wrapper {
    border-top: 1px solid #ced1d4; }
  
  .content-section {
    padding: 0 20px 0 280px; }
  
  .menupadding {
    padding-top: 120px; }
  
  .content-block {
    font-size: 18px; }
  
  @media only screen and (max-width: 979px) {
    h1 {
      font-size: 24px; }
  
    h3 {
      font-size: 18px; }
  
    .content-block {
      font-size: 16px; }
  
    .content-section {
      padding: 0; }
  
    .menupadding {
      padding-top: 20px; }
  
    .content-wrapper {
      padding: 40px 6%; } }
  @media only screen and (max-width: 479px) {
    .content-wrapper {
      padding: 40px 4%; } }
  @media only screen and (min-width: 1279px) {
    .content-block {
      padding-left: 50px;
      padding-right: 70px; } }
  /* ==========================================================================
     Drawer ???
     ========================================================================== */
  .header-phone {
    position: fixed;
    top: 0;
    height: 52px;
    width: 100%;
    z-index: 199;
    border-bottom: 2px solid #4c5b68;

    background-size: auto 50px; }
  
  .header-phone .brand {
    float: left; }
  
  .header-phone .brand a {

    background-size: 110px 50px;
    display: block;
    height: 50px;
    width: 110px; }
  
  .drawer-handlers {
    float: right; }
  
  .drawer-handlers button {
    -webkit-background-clip: border-box;
    -moz-background-clip: border-box;
    background-clip: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-origin: border-box;
    -moz-background-origin: border-box;
    background-origin: border-box;
    margin: 0;
    outline: none;
    outline-width: 0;
    border-width: 0;
    display: inline-block;
    cursor: pointer !important;
    font-family: "EnergiaBold", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1em;
    background: #34b233;
    float: left;
    width: 54px;
    height: 50px;
    -webkit-transition: all 0.22s ease-out;
    -moz-transition: all 0.22s ease-out;
    -o-transition: all 0.22s ease-out;
    -ms-transition: all 0.22s ease-out;
    transition: all 0.22s ease-out; }
  
  .drawer-handlers button + button {
    border-left: 1px solid #1b981a; }
  
  .drawer-handlers button:hover, .drawer-handlers button:active, .drawer-handlers button.active {
    background-color: #1b981a; }
  
  .mobile-menu ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  
  .mobile-menu ul > li ul {
    display: none !important; }
  
  .mobile-menu ul li.separator {
    border-bottom: 1px solid #1b981a; }
  
  .mobile-menu ul li a {
    color: #FFF;
    font-family: "EnergiaBold", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.1em;
    padding: 12px 18px;
    display: block;
    overflow: hidden;
    text-transform: uppercase;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: all 0.22s ease-out;
    -moz-transition: all 0.22s ease-out;
    -o-transition: all 0.22s ease-out;
    -ms-transition: all 0.22s ease-out;
    transition: all 0.22s ease-out; }
  
  .mobile-menu ul li a:hover {
    background-color: #1b981a; }
  
  body.drawer-active {
    overflow: hidden !important; }
  
  .drawer-overlay {
    position: fixed;
    top: 52px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: rgba(4, 20, 31, 0.6); }
  
  *[class^="drwr-"] {
    position: fixed;
    top: 52px;
    right: -82%;
    bottom: 0;
    width: 82%;
    z-index: 104;
    -webkit-transition: right 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transition: right 0.6s cubic-bezier(0.19, 1, 0.22, 1); }
  
  *[class^="drwr-"] .scroll-wrapper {
    height: 100%;
    overflow: hidden; }
  
  *[class^="drwr-"].closed {
    right: -82%; }
  
  *[class^="drwr-"].open {
    right: 0; }
  
  .drwr-menu, .drwr-submenu {
    background: #34b233; }
  
  .drwr-search {
    background: #ccc; }
  
  .drwr-profile {
    background: #ccc; }
  
  @media only screen and (min-width: 640px) {
    *[class^="drwr-"] {
      right: -50%;
      width: 50%;
      -webkit-transition: right 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      transition: right 0.5s cubic-bezier(0.19, 1, 0.22, 1); }
  
    *[class^="drwr-"].closed {
      right: -50%; } }
  /* ==========================================================================
     Footer
     ========================================================================== */
  .footer-wrapper {
    background: #374454;
    padding: 70px 0;
    color: #FFF; }
  
  .footer-main {
    float: left;
    margin-right: 20px; }
  
  .footer-contact {
    float: left;
    width: 220px; }
  
  .footer-contact a {
    color: #FFF; }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px; }
  
  .footer-links li {
    display: inline-block;
    border-left: 1px solid #A6ABB0;
    padding: 0 10px; }
  
  .footer-links li:first-child {
    border: none;
    padding-left: 0; }
  
  .footer-links a {
    color: #A6ABB0; }
  
  .footer-social {
    width: 150px;
    float: left; }
  
  .footer-social a {
    font-size: 20px;
    display: inline-block;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    background: #4C5B68;
    text-align: center;
    padding-top: 3px;
    margin-right: 5px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
  
  a.social-fb:hover {
    background-color: #3b5998; }
  
  a.social-li:hover {
    background-color: #1d87be; }
  
  a.social-ig:hover {
    background-color: #e03563; }
  
  .footer-social .icon {
    width: 22px;
    height: 22px; }
  
  @media only screen and (max-width: 979px) {
    .footer-wrapper {
      padding: 40px 6%; } }
  @media (max-width: 799px) {
    .footer-main {
      margin-bottom: 20px; }
  
    .footer-contacts, .footer-links {
      float: left;
      width: 50%; }
  
    .footer-contact {
      margin-bottom: 8px; }
  
    .footer-links ul {
      margin-top: 0; }
  
    .footer-links li {
      display: block;
      border: none;
      padding: 0 0 8px; } }
  @media (max-width: 450px) {
    .footer-main, .footer-contacts, .footer-links {
      float: none;
      width: auto; }
  
    .footer-links {
      margin-top: 20px; }
  
    .footer-contact {
      float: none;
      width: auto; }
  
    .footer-social {
      margin-top: 30px;
      float: none; } }
  /* ==========================================================================
     Leftside for testing
     ========================================================================== */
  @media only screen and (min-width: 980px) {
    .test-leftside {
      width: 700px; } }
  /* ==========================================================================
     Hack gecko!
     ========================================================================== */
  @-moz-document url-prefix() {
    .form select {
      font-size: 14px !important; } }
  
  /* ==========================================================================
     Inputs
     ========================================================================== */
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="number"],
  input[type="date"],
  input[type="tel"],
  input[type="time"],
  input[type="search"],
  textarea {
    -webkit-background-clip: border-box;
    -moz-background-clip: border-box;
    background-clip: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-origin: border-box;
    -moz-background-origin: border-box;
    background-origin: border-box;
    margin: 0;
    outline: none;
    outline-width: 0;
    border: none;
    border-width: 0;
    display: inline-block;
    line-height: 18px;
    font-family: "EnergiaRegular", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    border-bottom: 2px solid #4c5b68;
    background: #F4F6F6;
    color: #374454;
    outline: none;
    margin: 0;
    padding: 10px;
    width: 100%;
    vertical-align: middle;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out; }
  
  textarea {
    min-height: 150px; }
  
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="number"]:focus,
  input[type="date"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="search"]:focus,
  textarea:focus {
    border-color: #34b233;
    background: #f2f2f2; }
  
  input:-moz-placeholder {
    color: #a0a0a0; }
  
  ::-webkit-input-placeholder {
    color: #a0a0a0; }
  
  :-moz-placeholder {
    color: #a0a0a0; }
  
  /* design later */
  input[type="file"] {
    background: #fff;
    border: 1px solid #ccc;
    font-size: 0.8em;
    padding: 6px;
    width: 100%; }
  
  /* ==========================================================================
     Input Date
     ========================================================================== */
  input[type="text"].input-date,
  input[type="date"].input-date {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Ctitle%3Ecalendar%3C%2Ftitle%3E%3Cpath%20fill%3D%22%234c5b68%22%20d%3D%22M20.63%2C4.38H18.29V2a1%2C1%2C0%2C0%2C0-2%2C0V4.38H7.71V2a1%2C1%2C0%2C0%2C0-2%2C0V4.38H3.37A2.38%2C2.38%2C0%2C0%2C0%2C1%2C6.75V20.63A2.37%2C2.37%2C0%2C0%2C0%2C3.37%2C23H20.63A2.37%2C2.37%2C0%2C0%2C0%2C23%2C20.63V6.75A2.38%2C2.38%2C0%2C0%2C0%2C20.63%2C4.38Zm-17.26%2C2H5.71v1a1%2C1%2C0%2C0%2C0%2C2%2C0v-1h8.58v1a1%2C1%2C0%2C0%2C0%2C2%2C0v-1h2.34a.38.38%2C0%2C0%2C1%2C.37.37v3.79H3V6.75A.38.38%2C0%2C0%2C1%2C3.37%2C6.38ZM20.63%2C21H3.37A.38.38%2C0%2C0%2C1%2C3%2C20.63V12.54H21v8.09A.38.38%2C0%2C0%2C1%2C20.63%2C21Z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 98% 50%;
    padding-right: 2em; }
  
  input[type="text"].input-time,
  input[type="time"].input-date {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Ctitle%3Eclock%3C%2Ftitle%3E%3Cpath%20fill%3D%22%234c5b68%22%20d%3D%22M12%2C23A11%2C11%2C0%2C1%2C1%2C23%2C12%2C11%2C11%2C0%2C0%2C1%2C12%2C23ZM12%2C3a9%2C9%2C0%2C1%2C0%2C9%2C9A9%2C9%2C0%2C0%2C0%2C12%2C3Zm6.14%2C9.7a1%2C1%2C0%2C0%2C0-1-1H12.3V6.86a1%2C1%2C0%2C1%2C0-2%2C0V12.7a1%2C1%2C0%2C0%2C0%2C1%2C1h5.84A1%2C1%2C0%2C0%2C0%2C18.14%2C12.7Z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 98% 50%;
    padding-right: 2em; }
  
  /* ==========================================================================
     Select
     ========================================================================== */
  .select-styled {
    -webkit-background-clip: border-box;
    -moz-background-clip: border-box;
    background-clip: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-origin: border-box;
    -moz-background-origin: border-box;
    background-origin: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    border-width: 0;
    border-radius: 0;
    outline: none;
    outline-width: 0;
    padding: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #4c5b68;
    color: #374454;
    background: #F4F6F6;
    display: inline-block;
    font-family: "EnergiaRegular", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.1;
    padding: 10px;
    vertical-align: middle;
    width: 100%;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Ctitle%3Ecaret_updown%3C%2Ftitle%3E%3Cpath%20fill%3D%22%234c5b68%22%20d%3D%22M12%2C23.5a1.51%2C1.51%2C0%2C0%2C1-1.06-.44l-5-5a1.5%2C1.5%2C0%2C0%2C1%2C2.12-2.12L12%2C19.88l3.94-3.94a1.5%2C1.5%2C0%2C0%2C1%2C2.12%2C2.12l-5%2C5A1.51%2C1.51%2C0%2C0%2C1%2C12%2C23.5ZM18.06%2C8.06a1.49%2C1.49%2C0%2C0%2C0%2C0-2.12l-5-5a1.49%2C1.49%2C0%2C0%2C0-2.12%2C0l-5%2C5A1.5%2C1.5%2C0%2C0%2C0%2C8.06%2C8.06L12%2C4.12l3.94%2C3.94a1.5%2C1.5%2C0%2C0%2C0%2C2.12%2C0Z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 98% 50%; }
  
  /*
  .select-styled option {
    color: #4c5b68;
  }
  
  .select-styled:focus {
    border-color: #34b233;
    outline: none;
    border-bottom-width: 2px;
  }
  
  .select-styled:disabled {
    border-color: #d6dbdf;
    color: #7d8992;
    cursor: not-allowed;
    background-color: #f1f3f5;
  }
  
  .select-styled option:disabled {
    color: #7d8992;
  }
  
  .select.has-error .select-styled {
    border-color: #d54226;
  }
  
  .select.has-error .select-styled:focus {
    border-color: #34b233;
  }
  
  */
  .select-styled::-ms-expand {
    opacity: 0; }
  
  /* hack moz padding */
  @-moz-document url-prefix() {
    .select-styled {
      padding: 8px 10px; } }
  
  /* ==========================================================================
     Form design general
     ========================================================================== */
  .required {
    color: #d54226; }
  
  .asterisk {
    color: #000; }
  
  label {
    color: #4c5b68;
    font-family: "EnergiaBold", Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: block;
    line-height: 1.1;
    margin: 0 0 .5em; }
  
  .input-note {
    color: #889299;
    display: inline-block;
    font-size: 14px;
    line-height: 1.1em;
    margin: 4px 0 0 0; }
  
  .input-note.error-note {
    color: #d54226; }
  
  .form-titlebox {
    border-bottom: 1px solid #ced4d8;
    margin: 0 0 24px;
    padding: 0 0 15px; }
  
  .form-titlebox h2 {
    font-size: 24px;
    line-height: 1.1em;
    margin: 0; }
  
  .form-titlebox p {
    color: #889299;
    font-size: 14px;
    line-height: 1.4em;
    margin: 0; }
  
  .form-titlebox h2 + p {
    margin-top: 16px; }
  
  .form-titlebox .form-helpbox-close {
    float: right;
    padding: 0;
    margin: 0; }
  
  .form-footnote {
    border-top: 1px solid #ced4d8;
    margin: 24px 0 0 0;
    padding: 20px 0 0 0; }
  
  .form-footnote p {
    color: #889299;
    font-size: 14px;
    line-height: 1.4em;
    margin: 0; }
  
  .form-check {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1; }
  
  .form-check input[type="checkbox"],
  .form-check input[type="radio"] {
    display: inline;
    vertical-align: middle;
    width: 1em;
    height: 1em; }
  
  .form-check label {
    display: inline;
    font-family: "EnergiaRegular", sans-serif;
    font-weight: normal;
    margin: 0;
    vertical-align: middle; }
  
  .form-leftside + .form-rightside {
    margin-top: 16px; }
  
  /* ==========================================================================
     Buttons
     ========================================================================== */
  .button, a.button, input.button, button.button {
    -webkit-background-clip: border-box;
    -moz-background-clip: border-box;
    background-clip: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-origin: border-box;
    -moz-background-origin: border-box;
    background-origin: border-box;
    margin: 0;
    outline: none;
    outline-width: 0;
    border-width: 0;
    display: inline-block;
    cursor: pointer !important;
    font-family: "EnergiaBold", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1em;
    background: #4c5b68;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    -webkit-box-shadow: 1.5px 2px 0 transparent;
    -moz-box-shadow: 1.5px 2px 0 transparent;
    box-shadow: 1.5px 2px 0 transparent;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out; }
  
  .button:visited, .button.green:visited {
    color: #fff;
    text-decoration: none; }
  
  .button:hover {
    background: #374454;
    text-decoration: none;
    -webkit-box-shadow: 1.5px 2px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 1.5px 2px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 1.5px 2px 0 rgba(0, 0, 0, 0.12); }
  
  .button:active {
    background: #374454;
    text-decoration: none;
    -webkit-box-shadow: inset 2px 3px 0 rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 2px 3px 0 rgba(0, 0, 0, 0.33);
    box-shadow: inset 2px 3px 0 rgba(0, 0, 0, 0.33); }
  
  /* Button green */
  .button.green {
    background: #34b233; }
  
  .button.green:hover {
    background: #1b981a;
    text-decoration: none;
    -webkit-box-shadow: 1.5px 2px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 1.5px 2px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 1.5px 2px 0 rgba(0, 0, 0, 0.12); }
  
  .button.green:active {
    background: #1b981a;
    text-decoration: none;
    -webkit-box-shadow: inset 2px 3px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 2px 3px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 2px 3px 0 rgba(0, 0, 0, 0.15); }
  
  /* Button alt */
  .button.alternate {
    background: #f1f3f5;
    color: #4c5b68; }
  
  .button.alternate:hover {
    background: #e3e7ea;
    color: #374454;
    text-decoration: none;
    -webkit-box-shadow: 1.5px 2px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1.5px 2px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 1.5px 2px 0 rgba(0, 0, 0, 0.15); }
  
  .button.alternate:active {
    background: #e3e7ea;
    color: #374454;
    -webkit-box-shadow: inset 2px 3px 0 rgba(4, 20, 31, 0.15);
    -moz-box-shadow: inset 2px 3px 0 rgba(4, 20, 31, 0.15);
    box-shadow: inset 2px 3px 0 rgba(4, 20, 31, 0.15); }
  
  /* Button green borders */
  .button.green-borders {
    background: #fff;
    border: 2px solid #34b233;
    color: #4c5b68; }
  
  .button.green-borders:hover {
    color: #374454;
    text-decoration: none;
    -webkit-box-shadow: 1.5px 2px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 1.5px 2px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 1.5px 2px 0 rgba(0, 0, 0, 0.12); }
  
  .button.green-borders:active {
    color: #374454;
    -webkit-box-shadow: inset 2px 3px 0 rgba(4, 20, 31, 0.1);
    -moz-box-shadow: inset 2px 3px 0 rgba(4, 20, 31, 0.1);
    box-shadow: inset 2px 3px 0 rgba(4, 20, 31, 0.1); }
  
  .button.alternate:visited, .button.green-borders:visited {
    color: #4c5b68;
    text-decoration: none; }
  
  /* ==========================================================================
     Form icons
     ========================================================================== */
  .form-icon {
    border: none;
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: middle; }
  
  .form-icon.close:hover, .form-icon.close:active {
    background-position: 0 -32px;
    border: none; }
  
  /* ==========================================================================
     Form layout
     ========================================================================== */
  .form-row + .form-row {
    margin: 24px 0 0 0; }
  
  .form-element + .form-element {
    margin: 24px 0 0 0; }
  
  .form-element.error input[type="text"],
  .form-element.error input[type="password"],
  .form-element.error input[type="email"],
  .form-element.error input[type="url"],
  .form-element.error input[type="number"],
  .form-element.error input[type="date"],
  .form-element.error input[type="tel"],
  .form-element.error input[type="search"],
  .form-element.error textarea {
    border-color: #d54226; }
  
  .form-element.error input[type="text"]:focus,
  .form-element.error input[type="password"]:focus,
  .form-element.error input[type="email"]:focus,
  .form-element.error input[type="url"]:focus,
  .form-element.error input[type="number"]:focus,
  .form-element.error input[type="date"]:focus,
  .form-element.error input[type="tel"]:focus,
  .form-element.error input[type="search"]:focus,
  .form-element.error textarea:focus {
    border-color: #34b233; }
  
  .form-row.estimate {
    background: #fff;
    border: 2px solid #ededed;
    padding: 4%; }
  
  .form-estimate .estimate-label {
    color: #889299;
    display: block;
    line-height: 1.1em;
    margin: 0 0 5px; }
  
  .form-estimate .estimate-content {
    color: #4c5b68;
    font-family: "EnergiaBold", Arial, Helvetica, sans-serif;
    font-size: 16px; }
  
  @media only screen and (min-width: 768px) {
    .form-row.estimate {
      padding: 20px 24px; } }
  /* ==========================================================================
     Form layout OVERRIDES
     ========================================================================== */
  @media only screen and (min-width: 768px) {
    .form-titlebox p {
      font-size: 16px; }
  
    .form-row + .form-row {
      margin: 28px 0 0 0; }
  
    .form-row.tight + .form-row.tight {
      margin: 16px 0 0 0; }
  
    .form-element + .form-element {
      margin: 28px 0 0 0; }
  
    .form-row.two-column .form-element {
      float: left;
      width: 49%; }
  
    .form-row.two-column .form-element + .form-element {
      margin: 0 0 0 2%; }
  
    .form-row.two-column .form-element.wide {
      width: 66%; }
  
    .form-row.two-column .form-element.narrow {
      width: 32%; }
  
    .form-row.three-column .form-element {
      float: left;
      width: 32%; }
  
    .form-row.three-column .form-element + .form-element {
      margin: 0 0 0 2%; }
  
    .form-row.three-column .form-element.wide {
      width: 49%; }
  
    .form-row.three-column .form-element.narrow {
      width: 23.5%; } }
  /* ==========================================================================
     Override buttons to act different on smaller screens
     ========================================================================== */
  @media only screen and (max-width: 768px) {
    .button {
      padding: 14px 0; }
  
    .buttons {
      text-align: right; }
  
    .buttons .button {
      float: right;
      width: 49%; }
  
    .buttons .button + .button {
      margin: 0; }
  
    .buttons .button:first-child {
      margin: 0 0 0 2%; }
  
    .buttons .button.full {
      display: block;
      float: none;
      margin: 0;
      width: 100%; }
  
    .buttons .button.full + .button.full {
      margin: 12px 0 0 0 !important; } }
  /* ==========================================================================
     address component styles
     ========================================================================== */
  .ac_results {
    border: 1px solid gray;
    background-color: white;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    z-index: 10000;
    display: none;
    max-width: 85%; }
  
  .ac_results li {
    padding: 2px 5px;
    color: #101010;
    text-align: left; }
  
  .ac_over {
    cursor: pointer;
    background-color: #F0F0B8; }
  
  .ac_match {
    text-decoration: underline;
    color: black; }
  
  /* ==========================================================================
     Full modal
     ========================================================================== */
  body.full-modal-active {
    overflow: hidden !important; }
  
  .full-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFF;
    z-index: 200;
    overflow-x: hidden;
    overflow-y: auto; }
  
  .full-modal .header {
    margin: 0 auto;
    max-width: 1360px;
    padding: 10px 10px 0 10px; }
  
  .full-modal .header h2 {
    margin-bottom: 10px; }
  
  .full-modal .header .form-icon.close {
    float: right; }
  
  .full-modal .overlay-wrapper {
    margin: 0 2px;
    border-top: 1px solid #CCC; }
  
  .full-modal .overlay-content {
    padding: 20px 12px 100px 12px;
    max-width: 1360px;
    margin: 0 auto; }
  
  @media only screen and (min-width: 1200px) {
    .full-modal .header {
      padding: 10px;
      min-height: 50px;
      background: no-repeat 10px 10px;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='40' viewBox='0 0 75 40'%3E%3Cpath fill='%23CED4D8' d='M33.326 28.26l-.048-.31c-.055-1.16-.324-3.378-.324-6.04l-.02-.294v-.208c.1-5.458 9.798-11.725 21.546-15.07l.07-.21c-.2-.448-.525-1.215-.74-1.6-.127-.218-.22-.51-.445-.625-.103-.05-.683.12-.965.203C48.48 5.3 41.04 7.988 33.274 15.372c-3.672 3.5-6.632 7.064-10.162 10.243 0 0-5.752 5.972-9.618 6.232 0 0-.75.102-1.62-.3-1.354-.623-3.687-3.346-4.765-5.308-2 1.334-3.684 4.187-3.75 4.314-.068.128-.194.42-.278.554-.08.134-.77.343-1.002.14-.082-.07.033-.36.033-.36.382-2.3.52-2.776.52-2.776.7-1.828 1.88-3.382 3.166-4.733l-.144-.386c-.77-2.134-.89-4.184-.89-6.204.267-4.987 1.865-8.545 4.044-9.876 0 0 2.67-1.592 4.662-2.675 0 0 .605-.53 1.72-.465 1.113.068 2.776 1.022 5.13 3.05 2.334 2.045 4.65 4.325 4.997 6.108 0 0 .198.734-.124 1.42l-2.573 3.93c-.58.883-3.72 1.554-8.402 3.884 0 0-.425.188-.557.254 0 0 .784 1.14 1.67 1.95 0 0 .264.365.852.538 1.095.327 2.898-.526 6.94-4.462 1.16-1.13 5.64-5.718 8.914-8.53 0 0 8.66-8.01 17.072-10.45 0 0 1.438-.472 2.53-.17 2.047.564 4.03 1.42 5.25 1.896.908.48 1.458.873 2.228 1.95 3.7-.76 6.962-1.218 11.104-1.554l.283-.02s1.73.67 1.82.702c.727.275.742.517.4.62-.096.03-7.225 1.073-12.34 2.783 1.31 3.308 1.822 6.163 1.875 11.54.076 7.436-2.916 19.418-14.618 19.59-4.948.068-10.816-4.966-13.663-9.036.007 0-.54-.84-.654-1.508zm12.36 3.6c.054.01.11.012.164.015 7.583.354 10.193-8.47 10.373-14.785 0-2.787-.263-5.54-.71-7.808-11.126 4.433-18.148 9.97-20.46 14.81 2.66 4.046 6.977 7.545 10.624 7.77h.01zm-33.83-12.72c2.295-1.2 7.623-3.06 9.293-3.618l.048-.06c-.907-1.355-2.17-2.74-3.886-4.09 0 0-3.685-2.948-5.236-3.704l-.045-.024c-.663 1.6-1.124 3.667-1.145 5.13 0 0-.31 3.242.97 6.366z'/%3E%3C/svg%3E"); }
  
    .full-modal .header h2 {
      text-align: center;
      padding: 5px 60px 0; }
  
    .full-modal .form-icon.close {
      width: 40px;
      height: 40px;
      background-size: 40px 80px; }
  
    .full-modal .form-icon.close:hover {
      background-position: 0 -40px; } }
  /* ==========================================================================
     Form modal
     ========================================================================== */
  .form-modal {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 201; }
  
  .form-modal-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* z-index: 200; */
    background: rgba(4, 20, 31, 0.6); }
  
  .form-modal-main {
    left: 50%;
    margin-left: -48%;
    position: absolute;
    text-align: left;
    width: 96%;
    z-index: 101;
    background: #fff;
    -webkit-box-shadow: 4px 4px 0 rgba(4, 20, 31, 0.25);
    -moz-box-shadow: 4px 4px 0 rgba(4, 20, 31, 0.25);
    box-shadow: 4px 4px 0 rgba(4, 20, 31, 0.25); }
  
  .form-modal-wrapper {
    padding: 4%; }
  
  .form-modal-close {
    border-top: 1px solid #ededed;
    margin: 12px 0 0 0;
    padding: 12px 0 0 0;
    text-align: center; }
  
  .form-leftside + .form-rightside {
    margin-top: 16px; }
  
  .dummy + .form-row, .dummy + .form-element {
    margin: 24px 0 0 0; }
  
  /* ==========================================================================
     Modal OVERRIDES
     ========================================================================== */
  @media only screen and (min-width: 980px) {
    .form-modal-main {
      left: 50%;
      margin-left: -400px;
      width: 800px; }
  
    .form-modal-wrapper {
      padding: 28px; } }
  /* ==========================================================================
     Custom select
     ========================================================================== */
  .customSelect {
    -webkit-background-clip: border-box;
    -moz-background-clip: border-box;
    background-clip: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-origin: border-box;
    -moz-background-origin: border-box;
    background-origin: border-box;
    display: inline-block;
    line-height: 18px;
    font-size: 16px;
    border-bottom: 2px solid #4c5b68;
    background: #f8f8f8 no-repeat 100% 0;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='80' viewBox='0 0 40 80'%3E%3Cpath fill='none' d='M0 0h40v40H0z'/%3E%3Cpath fill='%23889299' d='M20.033 25.537c-.336 0-.66-.134-.896-.372l-5.482-5.482c-.496-.495-.496-1.298 0-1.793.495-.495 1.298-.495 1.793 0l4.585 4.586 4.675-4.676c.495-.495 1.298-.495 1.793 0 .497.495.497 1.298.002 1.793l-5.572 5.572c-.238.237-.56.372-.897.372z'/%3E%3Cpath fill='none' d='M0 40h40v40H0z'/%3E%3Cpath fill='%2334B233' d='M20.033 65.537c-.336 0-.66-.135-.896-.372l-5.482-5.482c-.496-.495-.496-1.298 0-1.794.495-.495 1.298-.495 1.793 0l4.585 4.585 4.675-4.676c.495-.495 1.298-.495 1.793 0 .497.495.497 1.298.002 1.793l-5.572 5.572c-.238.237-.56.372-.897.372z'/%3E%3C/svg%3E");
    color: #333;
    outline: none;
    margin: 0;
    padding: 10px;
    width: 100%;
    vertical-align: middle; }
  
  .customSelectFocus {
    border-color: #34b233;
    background-color: #f2f2f2;
    background-position: 100% -40px; }
  
  /* ==========================================================================
      Sidemenu to-bubbletabs
      ========================================================================== */
  .sidemenu.to-bubbletabs ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  
  .sidemenu.to-bubbletabs ul li {
    display: inline-block;
    font-size: 14px;
    float: left;
    margin: 0 8px 8px 0; }
  
  .sidemenu.to-bubbletabs ul li a {
    border: 2px solid #4c5b68;
    color: #4c5b68;
    display: inline-block;
    font-family: "EnergiaBold", Arial, Helvetica, sans-serif;
    line-height: 1.1em;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    -webkit-transition: all 0.22s ease-out;
    -moz-transition: all 0.22s ease-out;
    -o-transition: all 0.22s ease-out;
    -ms-transition: all 0.22s ease-out;
    transition: all 0.22s ease-out; }
  
  .sidemenu.to-bubbletabs ul li a:hover {
    color: #34b233;
    border: 2px solid #34b233;
    -webkit-box-shadow: 1.5px 2px 0 rgba(4, 20, 31, 0.15);
    -moz-box-shadow: 1.5px 2px 0 rgba(4, 20, 31, 0.15);
    box-shadow: 1.5px 2px 0 rgba(4, 20, 31, 0.15); }
  
  .sidemenu.to-bubbletabs ul li a:active {
    -webkit-box-shadow: inset 1.5px 2px 0 rgba(4, 20, 31, 0.15);
    -moz-box-shadow: inset 1.5px 2px 0 rgba(4, 20, 31, 0.15);
    box-shadow: inset 1.5px 2px 0 rgba(4, 20, 31, 0.15); }
  
  .sidemenu.to-bubbletabs ul li.active a {
    color: #374454;
    background: #e3e7ea;
    border-color: #374454;
    -webkit-box-shadow: inset 1.5px 2px 0 rgba(4, 20, 31, 0.2);
    -moz-box-shadow: inset 1.5px 2px 0 rgba(4, 20, 31, 0.2);
    box-shadow: inset 1.5px 2px 0 rgba(4, 20, 31, 0.2); }
  
  /* ==========================================================================
      OVERRIDES: Sidemenu to-bubbletabs
      ========================================================================== */
  @media only screen and (min-width: 980px) {
    .sidemenu.to-bubbletabs ul li {
      display: block;
      float: none;
      margin: 0; }
  
    .sidemenu.to-bubbletabs ul li a {
      border: none;
      display: block;
      padding: 12px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0; }
  
    .sidemenu.to-bubbletabs ul li a:hover {
      background-color: #f1f3f5;
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
  
    .sidemenu.to-bubbletabs ul li.active a {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
  
    .sidemenu.to-bubbletabs ul li + li {
      border-top: 1px solid #889299; } }
  /* ==========================================================================
      Pangalingid
      ========================================================================== */
  .banklinks ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  
  .banklinks ul li {
    float: left;
    font-size: 14px;
    margin: 0 1px 1px 0;
    width: calc(50% - 2px); }
  
  .banklinks ul li a {
    background: #ccc;
    color: #fff;
    display: block;
    font-family: "EnergiaBold", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1em;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.22); }
  
  .banklinks ul li a:hover {
    border: none; }
  
  .banklinks ul li a.banklink-seb {
    background: #57c40e; }
  
  .banklinks ul li a.banklink-swedbank {
    background: #f06920;
    background: -moz-linear-gradient(top, #f19b2c 0%, #f06920 100%);
    background: -webkit-linear-gradient(top, #f19b2c 0%, #f06920 100%);
    background: linear-gradient(to bottom, #f19b2c 0%, #f06920 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f19b2c', endColorstr='#f06920',GradientType=0 ); }
  
  .banklinks ul li a.banklink-lhv {
    background: #131313;
    background: -moz-linear-gradient(top, #494949 0%, #131313 100%);
    background: -webkit-linear-gradient(top, #494949 0%, #131313 100%);
    background: linear-gradient(to bottom, #494949 0%, #131313 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#494949', endColorstr='#131313',GradientType=0 ); }
  
  .banklinks ul li a.banklink-luminor {
    background: #481335; }
  
  .banklinks ul li a.banklink-coop {
    background: #0078d2; }
  
  span#bankLogos {
    display: block !important;
    height: 30px;
    margin-top: 12px; }
  
  span#bankLogos a {
    float: left;
    display: block;
    width: 75px;
    height: 31px;
    margin: 0 4px 5px 0;
 }
  
  span#bankLogos a:hover {
    text-decoration: none; }
  
  span#bankLogos a.seb {
    background-position: 0 0; }
  
  span#bankLogos a.luminor {
    background-position: -75px 0; }
  
  span#bankLogos a.swedbank {
    background-position: -150px 0; }
  
  span#bankLogos a.coop {
    background-position: -225px 0; }
  
  span#bankLogos a.lhv {
    background-position: -375px 0; }
  
  /* ==========================================================================
     Form notifications
     ========================================================================== */
  .form-notify {
    color: #374454;
    background: #f4f6f6;
    border-left: 3px solid #4c5b68;
    line-height: 1.4;
    margin: 0 0 24px;
    padding: 12px 12px 12px 16px; }
  
  .form-notify p {
    font-size: 14px;
    line-height: 1.3em;
    margin: 0; }
  
  .form-notify.big p {
    font-size: 18px; }
  
  .form-notify .center-large {
    text-align: center;
    font-size: 24px !important; }
  
  .form-notify p + p {
    margin: 12px 0 0 0; }
  
  .form-notify.error {
    border-color: #d54226;
    background: #ffecec; }
  
  .form-notify.notice {
    border-color: #ffcc66;
    background: #ffffcc; }
  
  .form-notify.success {
    border-color: #34b233;
    background: #D6F4D5; }
  
  .form-notify-switch .form-notify {
    margin-bottom: 0; }
  
  /* ==========================================================================
     OVERRIDE: Form notifications
     ========================================================================== */
  @media only screen and (min-width: 980px) {
    .form-notify {
      padding: 16px; }
  
    .form-notify.big {
      padding: 40px; } }
  /* ==========================================================================
     Float form-leftside, form-rightside
     ========================================================================== */
  @media only screen and (min-width: 980px) {
    .form-leftside {
      float: left; }
  
    .form-rightside {
      float: right; }
  
    .form-leftside.wide, .form-rightside.wide {
      width: 65%; }
  
    .form-leftside.narrow, .form-rightside.narrow {
      width: 31%; }
  
    .form-leftside + .form-rightside {
      margin-top: 0; } }
  /* ==========================================================================
      Form list
      ========================================================================== */
  .form-list + .form-list {
    padding: 24px 0 0 0; }
  
  .form-list .nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  
  .form-list ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  
  .form-list ul li .form-element {
    padding: 12px 0; }
  
  .form-list ul li:first-child {
    padding-top: 0; }
  
  .form-list ul li a {
    background: no-repeat -64px 50%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3E%3Cpath fill='none' d='M0 0h64v64H0z'/%3E%3Cpath fill='%238D959F' d='M29.153 42.198c-.292 0-.583-.11-.806-.332-.445-.446-.445-1.168 0-1.614l8.176-8.175-8.324-8.32c-.446-.446-.446-1.168 0-1.614.444-.444 1.166-.444 1.61 0l9.13 9.13c.214.213.335.503.335.805 0 .303-.12.593-.334.807l-8.98 8.982c-.224.22-.516.33-.807.33z'/%3E%3Cpath fill='%238D959F' d='M32 52.404c-11.226 0-20.36-9.133-20.36-20.358 0-11.227 9.134-20.36 20.36-20.36 11.227 0 20.357 9.134 20.357 20.36 0 11.225-9.13 20.358-20.357 20.358zm0-39.088c-10.328 0-18.73 8.402-18.73 18.73s8.402 18.73 18.73 18.73 18.73-8.402 18.73-18.73-8.402-18.73-18.73-18.73z'/%3E%3C/svg%3E");
    border-bottom: 2px solid transparent;
    display: block;
    font-size: 14px;
    line-height: 1.1em;
    text-decoration: none;
    padding: 12px 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out; }
  
  .form-list ul li a .profile-name {
    display: block;
    font-family: "EnergiaBold", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.1em;
    margin: 0 0 5px 0; }
  
  .form-list ul li a .profile-address {
    color: #889299;
    display: inline-block;
    font-size: 14px;
    line-height: 1.1em;
    margin: 0;
    width: 100%; }
  
  .form-list ul li a:hover {
    background-color: #f1f3f5;
    background-position: 0 50%;
    padding-left: 64px;
    text-decoration: none; }
  
  .form-list ul li a:hover .profile-address {
    color: #4c5b68; }
  
  .form-list ul li + li {
    border-top: 1px solid #ced4d8; }
  
  .form-list ul li h4 {
    color: #4c5b68;
    font-family: "EnergiaBold", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding-bottom: 10px;
    text-transform: uppercase; }
  
  .form-list ul li.active + li {
    border-color: transparent; }
  
  .form-list ul li.active a {
    background: #e3e7ea no-repeat 0 50%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3E%3Cpath fill='none' d='M0 0h64v64H0z'/%3E%3Cg fill='%23374454'%3E%3Cpath d='M40.588 41.26H23.412c-.232 0-.452-.1-.607-.272-.155-.174-.228-.404-.202-.635l.452-3.956c.033-.294.224-.548.5-.66l4.45-1.83c.416-.17.89.027 1.06.442.172.415-.027.892-.442 1.062l-4.005 1.646-.293 2.57h15.353l-.293-2.563-4.152-1.65c-.42-.165-.623-.64-.457-1.057.166-.417.64-.622 1.056-.455l4.606 1.83c.28.11.476.365.51.664l.45 3.955c.026.23-.047.46-.2.635-.158.173-.38.272-.61.272zM32 32.547c-2.62 0-4.75-2.13-4.75-4.75v-1.6c0-2.62 2.13-4.75 4.75-4.75s4.75 2.13 4.75 4.75v1.6c0 2.62-2.13 4.75-4.75 4.75zm0-9.472c-1.723 0-3.124 1.4-3.124 3.122v1.6c0 1.722 1.4 3.122 3.125 3.122 1.723 0 3.123-1.4 3.123-3.123v-1.6c0-1.72-1.4-3.122-3.124-3.122z'/%3E%3C/g%3E%3Cpath fill='%23374454' d='M32 52.396c-11.22 0-20.35-9.13-20.35-20.35s9.13-20.35 20.35-20.35c11.222 0 20.35 9.128 20.35 20.35 0 11.222-9.128 20.35-20.35 20.35zm0-39.072c-10.324 0-18.722 8.398-18.722 18.722S21.676 50.768 32 50.768c10.322 0 18.723-8.398 18.723-18.722S42.323 13.324 32 13.324z'/%3E%3C/svg%3E");
    border-bottom: 2px solid #374454;
    padding-left: 64px; }
  
  .form-list ul li.active .profile-address {
    color: #374454; }
  
  /* help toggle */
  .help-toggle {
    position: fixed;
    bottom: 1em;
    right: 1em;
    opacity: 1;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
  
  @media only screen and (min-width: 1400px) {
    .help-toggle {
      bottom: 2em;
      right: 2em; } }
  .help-toggle--hidden {
    opacity: 0;
    bottom: -2em; }
  
  